---
layout: default
paginate:
  articles:
    per: 10
    sort: date desc
---

<div class="container">
  <ol class="breadcrumb hard-sides hard-bottom push-top flush-bottom">
    <li><a href="/">Media</a></li>
  </ol>

  <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">Articles</h1>

  <div data-page="articles">
    <div class="row" data-page-number="{{ page.articles.page }}">
      {% for post in page.articles.docs %}
        <div class="col-sm-6">
          {% include _article-card.html collection="posts" %}
        </div>
      {% endfor %}
    </div>

    <div class="loading hide">
      {% include _preloader.html %}
    </div>
  </div>

  <div class="push-bottom">
    {% include _pagination.html collection="articles" remote=true %}
  </div>
</div>
