---
layout: default
paginate:
  commentaries:
    per: 50
    sort: date desc
---

<div class="container">
  <ol class="breadcrumb hard-sides hard-bottom push-top">
    <li><a href="/">Media</a></li>
  </ol>

  <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">Commentaries</h1>

  <div data-page="articles">
    <div class="row" data-page-number="{{ page.articles.page }}">



      {% for item in page.commentaries.docs %}

      <div class="col-sm-6 push-bottom">
        {% include _overlay-card.html collection="commentaries" %}
      </div>
      {% endfor %}
    </div>

    <div class="loading hide">
      {% include _preloader.html %}
    </div>
  </div>

    <div class="push-top">
      {% include _pagination.html collection="commentaries" remote=true label="" %}
    </div>
</div>