---
layout: default
pagination:
  enabled: true
heading: Articles about life, faith, and other stuff.
subheading: Read them. Share them. Talk to someone about them. Do something with them.
---
{% assign date_format = site.crds-media.date_format | default: "%b %-d, %Y" %}

<div class="jumbotron bg-blue">
  <div class="container">
    <h1 class="section-header text-white">{{ page.heading }}</h1>
    <p class="cd_subheading">{{ page.subheading }}</p>
  </div>
</div>

<div class="container">

  <!-- Articles -->
  <div class="push-bottom">
    <div class="border-bottom push-bottom">
      <a href="/articles" class="pull-right push-half-top">See All</a>
      <h2 class="push-half-bottom">Articles</h2>
    </div>
    <div data-card-deck class="card-deck">
      <div class="cards-4x">
        <div class="row">
        {% for post in site.posts limit: 8 %}
          {% include _article-card.html content_type=post %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Podcasts -->
  <div class="push-bottom">
    <div class="border-bottom push-bottom">
      <a href="/podcasts" class="pull-right push-half-top">See All</a>
      <h2 class="push-half-bottom">Podcasts</h2>
    </div>
    <div data-card-deck class="card-deck">
      <div class="cards-4x">
        <div class="row">
          {% for podcast in site.podcasts limit: 8 %}
            <div class="card">
              <a href="{{ podcast.url }}">
                <img src="{{ podcast.image | imgix: site.imgix | append: site.imgix_placeholder_args }}" data-optimize-img sizes="{{ site.image_sizes.cards_4x }}">
              </a>
              <div class="card-block hard-bottom">
                <a href="{{ podcast.url }}">
                  <h4 class="card-title card-title--overlap text-uppercase">{{ podcast.title }}</h4>
                </a>
                <p>{{ podcast.content | strip_html | truncatewords: 25 }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>
