---
layout: default
paginate:
  recent_media:
    collections:
      - articles
      - songs
    per: 12
    limit: 1
    sort: published_at desc
  podcasts:
    per: 4
    limit: 1
  series:
    per: 4
    limit: 1
    sort: starts_at desc
  commentaries:
    per: 4
    limit: 1
    sort: date desc
---

{% assign feature_obj = site.featured_media | where: 'page_path', page.url | first %}
{% assign managed_features = feature_obj.docs %}

{% if managed_features.size > 0 %}
  {% assign item = feature_obj.docs | first %}
{% else %}
  {% assign item = page.recent_media.docs | first %}
{% endif %}
{% include _overlay-feature-card.html %}

<div class="container push-top">
  <div class="row">
    <div class="col-md-8">
      {% if managed_features.size > 0 %}
        {% assign features = feature_obj.docs | slice: 1, 100 %}
      {% else %}
        {% assign features = page.recent_media.docs | slice: 1, 3 %}
      {% endif %}
      {% if features.size > 0 %}
        <div class="push-bottom">
          <h2 class="collection-header push-bottom text-gray-light">featured media</h2>
          {% for item in features %}
            <div class="soft-bottom">
              {% include _overlay-card.html %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if managed_features.size > 0 %}
        {% assign recent_media = page.recent_media.docs | slice: 0, 8 %}
      {% else %}
        {% assign recent_media = page.recent_media.docs | slice: 4, 8 %}
      {% endif %}
      {% if recent_media.size > 0 %}
        <div>
          <h2 class="collection-header text-gray-light push-bottom">most recent</h2>
          <div class="card-deck carousel" data-crds-carousel="mobile-scroll">
            <div class="feature-cards">
              {% for card in recent_media %}
                {% include _media-card.html carousel=true %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-md-4">

      {% if page.commentaries.docs.size != 0 %}
        <div class="push-bottom soft-bottom">
          <h2 class="collection-header push-bottom text-gray-light">fresh perspectives</h2>
          {% assign unfeatured_commentaries = page.commentaries.docs | slice: 0, 3 %}
          {% for featured in unfeatured_commentaries %}
            {% include _media-object-list.html media_type="commentary" %}
          {% endfor %}
          <a class="font-size-small" href="/commentaries">See all commentaries</a>
        </div>
      {% endif %}


      {% if page.series.docs.size != 0 %}
        <div class="push-bottom soft-bottom">
          <h2 class="collection-header push-bottom text-gray-light">series</h2>

          {% assign featured = page.series.docs | first %}
          {% assign unfeatured_series = page.series.docs | slice: 1, 3 %}
          {% include _media-object-featured.html %}
          <hr>
          {% for media in unfeatured_series %}
          {% include _media-object.html count="6 episodes" media_type="series" %}
          {% unless forloop.last %}
          <hr>
          {% endunless %}
          {% endfor %}
        </div>
      {% endif %}

      {% if site.podcasts.size > 0 %}
        <div class="push-bottom soft-bottom">
          <h2 class="collection-header push-bottom text-gray-light">podcasts</h2>
          {% assign featured = site.ordered_podcasts | first %}
          {% assign unfeatured_podcasts = site.ordered_podcasts | slice: 1, 3 %}

          {% include _media-object-featured.html media_type="podcast" %}
          <hr>
          {% for media in unfeatured_podcasts %}
            {% include _media-object.html media_type="podcast" %}
            {% unless forloop.last %}
              <hr>
            {% endunless %}
          {% endfor %}
        </div>
      {% endif %}

      <div>
        <h2 class="collection-header push-bottom text-gray-light">by media type</h2>
        <div class="card-deck">
          <ul class="list-unstyled font-size-base flush-bottom">
            <li>
              <a href="/series">Series</a>
            </li>
            <li>
              <a href="/music">Music</a>
            </li>
            <li>
              <a href="/podcasts">Podcasts</a>
            </li>
            <li>
              <a href="/articles">Articles</a>
            </li>
            <li>
              <a href="/videos">Videos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
