---
layout: default
pagination:
  enabled: true
heading: Fresh, Hot Words Written For You
subheading: Welcome to the information buffet. Reading is free, but taking action is gonna cost you. Dig in.
---
{% assign date_format = site.crds-media.date_format | default: "%b %-d, %Y" %}

<div class="jumbotron bg-blue">
  <div class="container">
    <h1 class="section-header text-white">{{ page.heading }}</h1>
    <p class="cd_subheading">{{ page.subheading }}</p>
  </div>
</div>

<div class="container">
  <div data-card-deck class="card-deck card-deck--expanded-layout card-deck--wrap">
    {% for post in paginator.posts %}
      {% include _article-card.html content_type=post %}
    {% endfor %}
  </div>
  {% include _pagination.html %}
</div>
