---
layout: default

paginate:
  articles:
    per: 6
    limit: 1
    sort: date desc
  podcasts:
    per: 3
    limit: 1
  songs:
    per: 8
    limit: 1
    sort: date desc
  videos:
    per: 8
    limit: 1
    sort: date desc
---

{% for jumbocard in page.articles.docs limit: 1 %}
  {% include _jumbocard.html size="xl" %}
{% endfor %}

<div class="container push-top">
  <div class="row">
    <div class="col-md-8">
      <div class="push-bottom">
        <h2 class="collection-header push-bottom text-gray-light">featured media</h2>
        {% for jumbocard in page.articles.docs limit: 3 %}
          <div class="push-bottom soft-bottom">
            {% include _jumbocard.html %}
          </div>
        {% endfor %}
      </div>
      {% if page.articles.docs.size > 0 %}
        <div class="push-bottom">
          <h2 class="collection-header text-gray-light push-bottom">most recent</h2>
          <div class="card-deck carousel" data-crds-carousel="mobile-scroll">
            <div class="feature-cards card-deck--expanded-layout">
              {% for card in page.articles.docs %}
                {% include _media-card.html carousel=true %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <div class="push-bottom">
        <h2 class="collection-header push-bottom text-gray-light">series</h2>
        {% include _media-object-featured.html title='Spirit Realm' link='#' count="12 episodes" image='//crds-cms-uploads.imgix.net/media/messages/stills/crossroads-spirit-realm.jpg' content='There’s more to this life than what we see, hear, or touch. The stories we hear of strange and unexplainable things—they’re not lies or make believe. The real world we live in is so much bigger, more beautiful, more terrifying, and spectacular than humanity has ever imagined. Come spend four weeks discovering how the spiritual and physical realms collide.' %}
        <hr>
      </div>

      {% if page.podcasts.docs.size > 0 %}
        {% for media in page.podcasts.docs %}
          {% include _media-object.html count="6 episodes" media_type="video" %}
          {% unless forloop.last %}
            <hr>
          {% endunless %}
        {% endfor %}
      {% endif %}

      {% if page.podcasts.docs.size > 0 %}
        <div class="push-bottom">
          <h2 class="collection-header push-bottom text-gray-light">podcasts</h2>
          {% include _media-object-featured.html title='IKR?' link='/podcasts/ikr/' count="29 episodes" image='https://crds-media.imgix.net/2wQvAhYczyWaIgimcma2yO/06735d3fefb9b877b3246de95235367d/crossroads-podcast-ikr.jpg' content='Being a woman… it’s complicated. Right? The expectations. The relationships. All the freaking beauty products. It can be overwhelming to try to go it alone. IKR? - I know, right? - is a podcast for women, by women. It’s a place to be known. To be challenged. To be understood. Because no one wants to go it alone. Hosts Alli and Latasha pull back the veil on what’s going on in the minds of women to prove that we’re all in this together and there’s a God who wants in on it too.' %}
          <hr>
          {% for media in page.podcasts.docs %}
            {% include _media-object.html count="7 episodes" media_type="podcast" %}
            {% unless forloop.last %}
              <hr>
            {% endunless %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="push-bottom">
        <h2 class="collection-header push-bottom text-gray-light">by media type</h2>
        <div class="card-deck">
          <ul class="list-unstyled font-size-base">
            <li>
              <a href="/series">Series</a>
            </li>
            <li>
              <a href="/music">Music</a>
            </li>
            <li>
              <a href="/podcasts">Podcasts</a>
            </li>
            <li>
              <a href="/articles">Articles</a>
            </li>
            <li>
              <a href="/videos">Videos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
