---
layout: default

paginate:
  articles:
    per: 8
    limit: 1
    sort: date desc
  podcasts:
    per: 4
    limit: 1
  songs:
    per: 8
    limit: 1
    sort: date desc
  videos:
    per: 8
    limit: 1
    sort: date desc

---

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron" style="background-image: url('//crds-cms-uploads.imgix.net/content/images/streaming-anywhere-hero-off.jpg?w=800&h=425&fit=crop&crop=entropy&ixlib=js-1.0.6');">
        <p class="small-heading text-uppercase">I am a small intro heading</p>
        <h1 class="title">the main heading</h1>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- Articles -->
      {% if page.articles.docs.size > 0 %}
        <div class="push-bottom">
          <h2 class="collection-header">featured media</h2>
          <div data-card-deck class="card-deck">
            <div class="cards-1x">
              {% for post in page.articles.docs %}
                {% include _article-card.html content_type=article %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div> <!--/col-md-8-->
    <div class="col-md-4">
      <!-- Series -->
      <div class="push-bottom">
        <h2 class="collection-header">series</h2>

        {% include _media-object-featured.html title='value' link='#' image='//crds-cms-uploads.imgix.net/media/messages/stills/crossroads-spirit-realm.jpg' %}

        <div class="series">
          <div class="series-body">

            <h4 class="component-header flush-bottom">
              <a href="#">Spirit Realm</a>
            </h4>

            <p class="soft-quarter-top font-size-smaller flush-bottom">{{ "There’s more to this life than what we see, hear, or touch. The stories we hear of strange and unexplainable things—they’re not lies or make believe. The real world we live in is so much bigger, more beautiful, more terrifying, and spectacular than humanity has ever imagined. Come spend four weeks discovering how the spiritual and physical realms collide." | strip_html | truncatewords: 30 }}</p>
            <p class="font-size-smaller text-gray-light">12 videos</p> <!-- // TODO - Update from static content -->
          </div>
        </div>
      </div>

      <!-- Podcasts -->
      {% if page.podcasts.docs.size > 0 %}
      <div data-card-deck class="card-deck">
        <div class="cards-1x">
          {% for podcast in page.podcasts.docs %}
            {% include _media-object.html featured="true" %}
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <!-- Podcasts -->
      {% if page.podcasts.docs.size > 0 %}
        <div class="push-bottom">
          <h2 class="collection-header">podcasts</h2>
          <div data-card-deck class="card-deck">
            <div class="cards-1x">
              {% for podcast in page.podcasts.docs %}
                {% include _media-object.html featured="false" %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="push-bottom">
        <h2 class="collection-header">by media type</h2>
        <div class="card-deck">
          <ul class="list-unstyled font-size-large">
            <li>
              <a href="/series">Series</a>
            </li>
            <li>
              <a href="/music">Music</a>
            </li>
            <li>
              <a href="/podcasts">Podcasts</a>
            </li>
            <li>
              <a href="/articles">Articles</a>
            </li>
            <li>
              <a href="/videos">Videos</a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!--/col-md-4-->
  </div> <!--/row-->
</div>
