---
layout: default
paginate:
  songs:
    offset: 4
    per: 8
    sort: date desc
---
<div class="music-tpl">
  <div class="push-bottom">
    <div class="container">
      <div class="breadcrumb-container">
        <ol class="breadcrumb hard flush-bottom text-white">
          <li><a href="/">Media</a></li>
        </ol>
      </div>
    </div>
    {% if page.songs.page == 1 %}
      {% assign featured = page.songs.offset %}
      {% for item in featured %}
      <a href="{{ item.url }}" class="splash-card" style="background-image:url('{% if item.bg_image.url %}{{ item.bg_image.url | imgix: site.imgix }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}?{{ site.imgix_params.placeholder_sixteen_nine }}')" sizes="{{ site.image_sizes.full_width }}" alt="{{ item.bg_image.title }}" data-optimize-bg-img>
        <div class="container">
          <div class="content">
            {% if item.featured_label %}
            <p class="meta flush-ends">{{ item.featured_label }}</p>
            {% endif %}

            <h2 class="title flush-bottom push-top">{{ item.title | truncate: 55 }}</h2>

            {% if item.featured_text %}
            <p class="tagline flush-bottom push-top">{{ item.featured_text }}</p>
            {% endif %}

            <div class="btn btn-outline btn-white">
              {% if item.call_to_action %}
                {{ item.call_to_action }}
              {% else %}
                Check it out
              {% endif %}
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    {% endif %}
  </div>

  <div class="container">
    <div class="cards-4x cards-2x-xs" data-page="songs">
      <div class="row push-top" data-page-number="{{ page.songs.page }}">
        {% for card in page.songs.docs %}
          {% include _media-card.html content_type="song" %}
        {% endfor %}
      </div>
      <div class="loading hide">
        {% include _preloader.html %}
      </div>
    </div>
    {% include _pagination.html collection="songs" link_root="music" remote=true %}
  </div>
</div>
