---
layout: default
title: Music
worship_training_headline: Be Part of This
worship_training_copy: Worship Training helps you grow musical or technical 
                        giftings so you can serve the community.
worship_training_cta: Learn More
---

{% assign sorted_songs = site.songs | reverse %}

<div class="container">
  <p class="breadcrumb breadcrumb-media flush-bottom hard"><a href="{{ site.url }}">Media</a> /</p>
  <h2 class="section-header landing-header flush-top push-bottom">Music</h2>
  {% assign hero = sorted_songs | first %}
  <div class="jumbotron jumbotron-xl" style="background-image: url('{{ hero.image | imgix: site.imgix }}')">
    <div class="bg-overlay"></div>
    <div class="jumbotron-content">
      <h4 class="font-size-small text-uppercase text-gray-lighter">
        Newest Song
      </h4>
      <h1 class="section-header flush-top push-quarter-bottom">{{ hero.title }}</h1>
      <h6 class="font-size-base text-gray-lighter">
        {{ hero.content }}
      </h6>
      <a class="btn btn-lg btn-white btn-outline" href="{{ hero.url }}">Rock Out</a>
    </div>
  </div>

  <div class="card-deck">
    <div class="cards-2x">
      <div class="row">
        {% assign featured = sorted_songs | slice: 1, 2 %}
        {% for song in featured %}
          <div class="card">
            <a href="{{ song.url }}">
              <img class="card-img-unrestrained" src="{{ song.image | imgix: site.imgix | append: site.imgix_placeholder_args }}" data-optimize-img>
            </a>
            <div class="card-block hard">
              <a href="{{ song.url }}">
                <h5 class="text-gray-dark font-family-base">{{ song.title }}</h5>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="cards-4x cards-2x-sm">
      <div class="row">
        {% assign unfeatured = sorted_songs | slice: 3, site.songs.size %}
        {% for song in unfeatured %}
          <div class="card">
            <a href="{{ song.url }}">
              <img class="card-img-unrestrained" src="{{ song.image | imgix: site.imgix | append: site.imgix_placeholder_args }}" data-optimize-img />
            </a>
            <div class="card-block hard">
              <a href="{{ song.url }}">
                <h5 class="text-gray-dark font-family-base">{{ song.title }}</h5>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="row bg-gray soft">
  <div class="container">
    <div class="jumbotron-2x">
      <div class="jumbotron flush-ends hard-bottom" style="background-image: url('//crds-cms-uploads.imgix.net/content/images/crossroads-worship-training-music.jpg');">
        <h2 class="section-header push-top push-quarter-bottom text-white">{{ page.worship_training_headline }}</h2>
        <h6 class="font-size-base font-family-base-light text-gray-lighter">{{ page.worship_training_copy }}</h6>
        <a class="btn btn-white btn-lg btn-outline font-family-base-light" href="https://www.crossroads.net/worshiptraining">{{ page.worship_training_cta }}</a>
      </div>
      <div class="jumbotron flush-ends bg-charcoal">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <svg class="icon icon-2 text-white" viewbox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#instagram-2"></use>
          </svg>
          <svg class="text-white push-top" viewbox="0 0 256 80" width="60%">
            <use xlink:href="/assets/svgs/icons.svg#crds-music"></use>
          </svg>
        </div>
        <h2 class="section-header flush-top push-quarter-bottom hidden">Crossroads Music</h2>
        <a class="btn btn-white btn-lg btn-outline font-family-base-light" href="https://www.instagram.com/crdsmusic/">Follow us on Instagram</a>
      </div>
    </div>
  </div>
</div>
