---
layout: default
title: Songs

paginate:
  songs:
    per: 8
---

<div class="container">
  <ol class="breadcrumb hard-sides hard-bottom push-top flush-bottom">
    <li><a href="/">Media</a></li>
  </ol>

  <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">Songs</h1>

  <div data-card-deck class="card-deck">
    <div class="cards-4x">
      <div class="row">
      {% for song in page.songs.docs %}
        {% include _song-card.html %}
      {% endfor %}
      </div>
    </div>
  </div>
  {% include _pagination.html collection="songs" %}
</div>
