---
layout: default
title: Videos
paginate:
  videos:
    offset: 2
    per: 8
    sort: date desc
---
{% assign featured = page.videos.offset %}
{% assign unfeatured = page.videos.docs %}

<div class="container">
  <ol class="breadcrumb hard-sides hard-bottom push-top flush-bottom">
    <li><a href="/">Media</a></li>
  </ol>

  <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">Videos</h1>

  <div class="row">
    <aside class="col-md-2">
      {% include _sidebar-navigation.html %}
    </aside>

    <div class="col-md-10">
      <div class="card-deck">
        {% if page.videos.page == 1 %}
        <div class="cards-2x">
          <div class="row">
          {% for video in featured %}
            {% include _video-card.html imgix_size="2x" %}
          {% endfor %}
          </div>
        </div>
        {% endif %}

        <div class="cards-4x cards-2x-sm" data-page="videos">
          <div class="row" data-page-number="{{ page.videos.page }}">
            {% for video in unfeatured %}
              {% include _video-card.html %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="loading hide">
        {% include _preloader.html %}
      </div>
      <div class="push-bottom">
        {% include _pagination.html collection="videos" link_root="videos" remote=true %}
      </div>
    </div>
  </div>
</div>
