.community {
  background: $cr-gray-darker;

  .subtopic-layout {
    main, aside {
      .list-card, .feature-sub {
        .title, .content {
          color: $cr-white;
        }

        .topic {
          color: $cr-gray-light;
        }

        .credit {
          color: $cr-gray;

          >.list-card {
            color: $cr-gray-light;
          }
        }
      }
    }
  }

  .jumbotron {
    h3 {
      color: $cr-white;
    }
    .form-control.btn {
      margin-top: 0;
    }
  }
}