.song-detail-tpl {
  > header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 138px 0 1rem;
  }

  .bg-overlay {
    background: linear-gradient(to bottom, transparent, rgba(23,23,23,1) 85%);
  }

  .media-artwork {
    box-shadow: 0 0 .5rem 0 rgba($cr-black, 15);
    width: 100%;
  }

  @media screen and (min-width: $screen-sm) {
    > header {
      padding: 390px 0 2rem;
    }
  }
}

.media-music-album {
  .album-artwork {
    box-shadow: 0 0 .5rem 0 rgba($cr-black, .15);
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
  }

  .tracks {
    li a {
      font-size: 19px;
      color: $cr-white;
      opacity: .8;
      text-transform: capitalize;

      &:hover,
      &:focus {
        color: $cr-cyan-light;
        text-decoration: none;
      }
    }
  }
}
