.song-detail-tpl {
  .jumbotron {
    padding-top: 10rem;
    padding-bottom: 3.75rem;

    @media screen and (min-width: $screen-md) {
      padding-top: 15rem;
    }

    .card .block {
      display: block;
    }
  }

  .bg-overlay {
    background: linear-gradient(to bottom, transparent, rgba(23,23,23,1) 50%, rgba(23,23,23,1) 100%);
  }

  .media-artwork {
    box-shadow: 0 0 .5rem 0 rgba($cr-black, 15);
    width: 100%;
  }
}

.media-music-album {
  .album-artwork {
    box-shadow: 0 0 .5rem 0 rgba($cr-black, .15);
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
  }

  .tracks {
    li a {
      font-size: 19px;
      color: $cr-white;
      opacity: .8;
      text-transform: capitalize;

      &:hover,
      &:focus {
        color: $cr-cyan-light;
        text-decoration: none;
      }
    }
  }
}
