<div class="card card--layered">
  <a href="{{ post.url }}">
    <div class="card-bgImage sixteen-nine" style="background-image: url('{{ post.featured_image }}');"></div>
    <div class="card-block">
        <h5 class="publication_meta metadata flush">
          {% include _read-time.html content=post.content %}
        </h5>
      <h4 class="card-title font-family-condensed-extra text-uppercase">{{ post.title }}</h4>
      <p class="card-text">
        <a href="{{ author.permalink }}">{{ post.author }}</a> |
        <span class="card-date">
          {{ post.date | date: date_format }}
        </span>
      </p>
    </div>
  </a>
</div>
