{% assign author = site.authors | where:"name", page.author | first %}

<div class="article_header push-top">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h5 class="article_meta metadata flush">
        {% include _read-time.html content=page.content %}
      </h5>
      <h2 class="article_title section-header flush-top push-half-bottom">{{ page.title | escape }}</h2>
      <div>
        <a href="{{ author.url }}">{{ page.author }}</a> |
        <span class="article_date">
          {% assign date_format = site.crds-media.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </span>
      </div>
    </div>
  </div>
</div>
