{% assign author = site.authors | where:"name", page.author | first %}
<div class="article_header push-top">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h5 class="metadata flush">
        {% include _read-time.html content_type=page %}
      </h5>
      <h2 class="article_title section-header flush-top push-half-bottom" data-title>{{ page.title | escape }}</h2>
      <div>
        <a href="{{ author.url }}" data-author-name>{{ page.author }}</a> |
        <span class="article_date" data-post-date>
          {% assign date_format = site.crds-media.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </span>
      </div>
    </div>
  </div>
</div>
