<article class="article font-family-base">
  <img data-hero-image class="article-hero" src="{{ page.image | imgix: site.imgix | append: site.imgix_placeholder_args }}">
  <div class="container soft-top">
    <div class="article_share col-md-2 push-bottom">
      <div class="push-bottom">
        <h5 class="control-label">Share</h5>
        <div class="addthis_sharing_toolbox"></div>
      </div>
      {% if page.tags.size > 0 %}
      <div class="article_tags" data-tags>
        <h5 class="control-label">Tags</h5>
        {% for tag in page.tags %}
          <a href="{{ site.search_domain }}/search?q=tags: '{{ tag }}'" class="article_tag">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="article_body col-md-8 font-size-base" id="scrollDistance">
      <div data-body></div>
      {{ page.content | markdownify }}
      {% include _author-bio.html %}
    </div>
  </div>
</article>
