<div class="media media-author push-bottom">
  <div class="media-img-wrapper">
    <a href="{{ author.url }}" data-author-link>
      <img data-author-img src="{{ author.image | imgix: site.imgix | append: site.imgix_placeholder_args }}" alt="" class="img-circle img-size-5">
    </a>
  </div>
  <div class="media-body">
    <a href="{{ author.url }}" data-author-link>
      <h2 class="component-header push-quarter-ends" data-author-name>{{ author.name }}</h2>
      {% if page.title == "Preview" %}
        <p data-author-bio></p>
      {% else %}
        {{ author.content }}
      {% endif %}
    </a>
  </div>
</div>
