<div class="media media-author push-bottom">
  <div class="media-img-wrapper">
    <a href="{{ author.url }}" data-author-link>
      {% assign image_url = author.image | imgix: site.imgix | append: site.imgix_params.avatar %}
      <img data-author-img src="{{ image_url }}" srcset="{{ image_url }} 1x, {{ image_url }}&dpr=2 2x, {{ image_url }}&dpr=3, 3x" alt="" class="img-circle img-size-5" sizes="{{ site.image_sizes.avatar }}">
    </a>
  </div>
  <div class="media-body">
    <a href="{{ author.url }}" data-author-link>
      <h2 class="component-header push-quarter-ends" data-author-name>{{ author.name }}</h2>
      {% if page.title == "Preview" %}
        <p data-author-bio></p>
      {% else %}
        {{ author.content }}
      {% endif %}
    </a>
  </div>
</div>
