<header class="commentary-header" style="position: relative; background-color: rgba(0, 0, 0, 0); background-image: url(http://crossroads-media.s3.amazonaws.com/images/type-bg.jpg;);">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="episode-header">
          <ol class="breadcrumb text-white hard-left">
            <li><a href="/">Media</a></li>
            <li><a href="/commentary">Commentary</a></li>
          </ol>
          <h1 class="text-white flush-top" data-title="">Musical Ambition and Destruction</h1>    
          <p class="flush-bottom soft-half-top">
            <span class="read-time font-size-smaller push-quarter-ends">2h ago</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>