<section class="discussion-questions {% if include.type == chaser %}chaser-questions{% endif %}">

  {% if include.type == chaser %}
  <div class="push-quarter-bottom">
    <img class="chaser-logo" src="//d1tmclqz61gqwd.cloudfront.net/images/logo-chaser.svg">
  </div>
  {% endif %}

  {{ page.discussion.intro | markdownify }}

  {% if page.discussion.discussion_questions.size > 0 %}
  <ol>
    {% for q in page.discussion.discussion_questions %}
    <li>{{ q | markdownify }}</li>
    {% endfor %}
  </ol>
  {% endif %}

  {% if page.discussion.challenge %}
  <p class="label">Challenge</p>
  {{ page.discussion.challenge | markdownify }}
  {% endif %}
</section>