<div class="card">
  <a href="{{ featured.url }}">
    <img class="card-img-top img-responsive" src="{{ featured.featured_image }}">
  </a>
    <div class="card-block">
      <a href="{{ featured.url }}">
        <h4 class="card-title card-title--overlap text-uppercase">{{ featured.title }}</h4>
      </a>
      <p class="card-text">
        <a href="{{ featured_author.permalink }}">{{ featured.author }}</a> |
        <span class="card-date">
          {{ featured.date | date: date_format }}
        </span>
      </p>
    </div>
  </a>
</div>