{% if include.size == "xl" %}
  <div class="jumbocard jumbocard-xl" style="background-image: url('{{ jumbocard.image | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}'); background-size: cover;" data-optimize-bg-img>
{% else %}
  <div class="jumbocard" style="background-image: url('{{ jumbocard.image | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}'); background-size: cover;" data-optimize-bg-img>
{% endif %}
  {% include _media-label.html media_type="article" duration="12 min read" %}
  <div class="jumbocard-content text-left">
    <span class="font-size-smaller text-uppercase text-gray-lighter">{{ jumbocard.topic }}</span>
    <h1 class="jumbocard-title font-family-condensed-extra text-uppercase text-white flush">{{ jumbocard.title }}</h1>
    <h5 class="font-size-smaller text-gray-light">{{ jumbocard.author }}</h5>
  </div>
</div>
