<div class="media">
  <div class="media-body">
    <a href="{{ podcast.url }}">
      <h4 class="component-header flush-ends">{{ podcast.title }}</h4>
    </a>
    <p class="soft-quarter-top">{{ podcast.content | strip_html | truncatewords: 25 }}</p>
  </div>
  <div class="media-img-wrapper">
    <a href="{{ podcast.url }}">
      <img src="{{ podcast.image | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}" sizes="{{ site.image_sizes.cards_4x }}" data-optimize-img>
    </a>
  </div>
</div>
