{% assign min = 1 %}
{% assign max = site.posts.size %}

<div class="container">
  <h2 class="collection-header push-bottom">more articles</h2>
  <div data-card-deck class="card-deck card-deck--expanded-layout card-deck--wrap">
    {% for i in (1..4) %}
      {% assign diff = max | minus: min %}
      {% assign random = "now" | date: "%N" | modulo: diff | plus: min %}
      {% assign random_post = site.posts[random] %}
      {% assign author = site.authors | where:"name", random_post.author | first %}
      <div class="card card--layered">
        <a href="{{ random_post.url }}">
          <div class="card-bgImage sixteen-nine" style="background-image: url('{{ random_post.featured_image }}');"></div>
          <div class="card-block">
            <h4 class="card-title font-family-condensed-extra text-uppercase">{{ random_post.title }}</h4>
            <p class="card-text">
              <a href="{{ author.permalink }}">{{ random_post.author }}</a> |
              <span class="card-date">
                {{ random_post.date | date: date_format }}
              </span>
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
