<h2 class="title">This episode</h2>

<p>There are seasons in life when you're just not okay. How do you deal, find hope, choose to get up in the morning when everything inside you is fighting against that? After a year of compounding personal losses, Courtney found her faith shaken to the very core. And yet, her journey toward healing brought her face to face with a God who deals in reality, values honesty, and chooses resurrection. She visits the IKR? team to tell her incredible story.</p>


<p>Hosted by <a href="#">Alli Patterson</a> and <a href="#">Latasha Patrick</a></p>


<p>March 28, 2018 &bull; 36 min</p>

<div>
  <ul class="list-inline">
    <li>
      <a href="{{ podcast.facebook_url }}">
        <svg class="icon" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="{{ podcast.twitter_url }}">
        <svg class="icon" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="{{ podcast.url }}">
        <svg class="icon" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#link"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>