<div class="podcast-subscribe">
  <p>
    <a href="https://itunes.apple.com/us/podcast/ikr/id1339238337?mt=2">
      <img src="//dz6ito7tas43n.cloudfront.net/images/apple-podcasts.svg" alt="Apple Podcast button">
    </a>
  </p>
  <p>
    <a href="https://play.google.com/music/listen?u=0#/ps/Io2wx25koi7wdqqtfs6f36dsife">
      <img src="//dz6ito7tas43n.cloudfront.net/images/google-play-badge.svg" alt="Google Play button">
    </a>
  </p>
  <p>
    <a href="http://www.stitcher.com/s?fid=166402&amp;refid=stpr">
      <img src="//crds-cms-uploads.imgix.net/content/images/listen-on-stitcher.jpg" alt="Stitcher button">
    </a>
  </p>
</div>