{% for item in include.collection %}
  {% if include.collection == site.articles or include.collection == site.perspectives%}
    {%- assign text = item.body -%}

  {% elsif include.collection == site.messages %}
    {% if item.description %}{%- assign text = item.description -%}{% else %}{%- assign text = item.series.description -%}{% endif %}

  {% elsif include.collection == site.episodes %}
    {% if item.description %}{%- assign text = item.description -%}
  {% else %}{%- assign text = item.podcast.description -%}{% endif %}

  {% else %}
    {%- assign text = item.description -%}
  {% endif %}

  <product>
    <product_id>{{ item.contentful_id }}</product_id>
    <product_name>{{ item.title }}</product_name>

    <product_description>{{ text | markdownify | strip_newlines | strip_html | escape | xml_escape | truncate: 1024 }}</product_description>

    <categories>
      <category>
        <category_name>{{ item.category.title }}{% if item.tags.size > 0 %}|{% endif %}{% for tag in item.tags %}{{
          tag.title }}{% if forloop.last == false %}|{% endif %}{% endfor %}</category_name>
      </category>
    </categories>
    <price>1</price>
    <url>{{ item.slug }}</url>
    <product_image_url>{% if item.image.url %}{{ item.image.url | imgix: site.imgix }}?auto=format,compress
      {% else %}{{ site.default_image | imgix: site.imgix }}?auto=format,compress{% endif %}</product_image_url>
  </product>
{% endfor %}