<div class="container">
  <h2 class="collection-header push-bottom">recent articles</h2>
    <div data-card-deck class="card-deck">
      <div class="cards-4x">
        <div class="row">
        {% for post in site.posts | limit:4 %}
          {% if page.index != post.index %}
            {% include _article-card.html content_type=post %}
          {% else %}
          {% assign fifth = site.posts[5] %}
          <div class="card">
              <a href="{{ post.url }}">
                <img class="card-img-top img-responsive" ix-src="{{ post.image | replace: site.imgix.find, site.imgix.replace }}">
              </a>
              <div class="card-block">
                <a href="{{ post.url }}">
                  <h4 class="card-title card-title--overlap text-uppercase">{{ post.title }}</h4>
                </a>
                <p class="card-text">
                  <a href="{{ author.url }}">{{ post.author }}</a> |
                  <span class="card-date">
                    {{ post.date | date: date_format }}
                  </span>
                </p>
                <h5 class="metadata push-quarter-ends">
                  <a href="{{ topic.url }}">{{ topic.title }}</a> -
                  {% include _read-time.html content_type=post %}
                </h5>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
  </div>
</div>
