<!-- Is this partial deprecated? -->
<div class="container">
  <h2 class="collection-header push-bottom">recent articles</h2>
    <div data-card-deck class="card-deck">
      <div class="cards-4x">
        <div class="row">
        {% assign recent_articles = site.articles | sort: 'date' | reverse | slice: 0, 5 | exclude: page.title %}
        {% for post in recent_articles limit:4 %}
          {% if page.index != post.index %}
            {% include _article-card.html content_type=article %}
          {% else %}
          {% assign fifth = site.articles[5] %}
            {% include _article-card.html %}
          {% endif %}
        {% endfor %}
        </div>
      </div>
  </div>
</div>
