<!-- TODO: de-elixirify -->
<div class="col-md-3 hidden-xs hidden-sm publication_sidebar">
    <%= if assigns[:article]["related"] do %>
      <div class="publication_stickyContent">
        <h4 class="collection-header">related</h4>
        <%= for related <- Enum.reverse(assigns[:article]["related"]) do %>
          <div class="card card--media">
            <a href="<%= related[" link "] %>">
              <%= if related["thumbnail"] !== "" do %>
                <img alt="Card image caption" class="card-img-top img-responsive" ix-src="<%= related[" thumbnail "] %>" title="" />
                <% end %>
            </a>
            <div class="card-block">
              <a href="<%= related[" link "] %>">
                <h4 class="list-header">
                  <%= related["title"] %>
                </h4>
                <h5 class="tagline">
                  <%= related["date"] %>
                </h5>
              </a>
            </div>
          </div>
          <% end %>
      </div>
      <% end %>
  </div>
