{% assign item = include.item %}
<!-- // -->
{% unless item %}{% assign item = page %}{% endunless %}

<div class="clearfix social-share">
  <heart-button id="{{ item.contentful_id }}"></heart-button>
  <div
    class="addthis_toolbox addthis_default_style"
    {%
    if
    item.url
    !="page.url"
    %}addthis:url="{{ site.url }}{{ item.url }}"
    addthis:title="{{ item.title }}"
    addthis:description="{{
      item.description | markdownify | strip_html | truncatewords: 25
    }}"
    addthis:media="https:{{ item.image.url | imgix: site.imgix }}"
    {%
    endif
    %}
  >
    <div class="custom_images">
      <a class="addthis_button_facebook">
        <svg class="icon" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#facebook"></use>
        </svg>
      </a>
      <a class="addthis_button_twitter">
        <svg class="icon" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#twitter"></use>
        </svg>
      </a>
      <a
        href="javascript:void(0);"
        class="clipboard"
        data-clipboard-text="{{ site.url }}{{ item.url }}"
        data-clipboard-success="{{ site.url }}{{
          item.url
        }} copied to clipboard!"
      >
        <svg class="icon" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#link"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
