{% if include.image_size == "4x" %}
  {% assign sizes = 'sizes="{{ site.image_sizes.cards_4x }}"' %}
{% else if include.image_size == "2x" %}
  {% assign sizes = 'sizes="{{ site.image_sizes.cards_2x }}"' %}
{% endif %}

<div class="card">
  <a href="{{ video.url }}">
    <img src="{{ video.image | imgix: site.imgix }}?{{ site.imgix_params.placeholder_sixteen_nine }}" {{ sizes }} data-optimize-img>
  </a>
  <div class="card-block hard">
    <a href="{{ video.url }}">
      <h5 class="card-title">{{ video.title }}</h5>
    </a>
  </div>
</div>
