<script>
  (function(){
    var options = {
        cmsEndpoint: '{{ site.shared_header.cms }}',
        appEndpoint: '{{ site.shared_header.app }}',
        imgEndpoint: '{{ site.shared_header.img }}',
        crdsCookiePrefix: '{{ site.shared_header.prefix }}'
    };
    var header = new CRDS.SharedHeader(options);
        header.render();
  })();

  $('[data-header]').on('show.bs.dropdown', function () {
    if (typeof imgix !== 'undefined') {
      if (typeof imgix.VERSION !== 'undefined') {
        // assume>= version 3
        setTimeout(function(){ imgix.init(); }, 100);
      } else if (typeof imgix.version !== 'undefined') {
        setTimeout(function(){ imgix.fluid(); }, 100);
      }
    }
  });
</script>