.page-numbers {
  display: inline-flex;
  margin: 0 .5rem;

  .page-number {
    margin: 0 .25rem;
    padding: .5rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 1;
    background-color: $cr-gray-lighter;

    &.active {
      color: $cr-white;
      background-color: $cr-cyan;
    }
  }
}
