.media--author {
  & .media-img-wrapper {
    align-items: center;
  }

  & .img-size-5 {
    min-width: 5rem;
  }

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  & .media-body {
    max-width: 640px;
  }
}