.card-deck--expanded-layout {
  .card.card-2x {
    flex: 1 0 auto;

    @media (min-width: $screen-sm) {
      flex-basis: 50%;
      max-width: 50%;
      margin-right: 0;
      padding: 0 15px;
    }

    &:nth-child(odd) {
      padding-left: 0;
    }

    &:nth-child(even) {
      padding-right: 0;
    }
  }
  
  .card.card-3x {
    flex: 1 0 auto;

    @media (min-width: $screen-sm) {
      flex-basis: calc(100%/3);
      max-width: calc(100%/3);
      padding-left: 15px;
      padding-right: 15px;

      // every 4th item starting at 1
      &:nth-child(3n+1) {
        margin-left: -15px;
      }

      // every 3rd item
      &:nth-child(3n) {
        margin-right: -15px;
      }
    }
  }
}

// 🛠 Remove once we refactor cards
.card-deck {
  .card-img-top {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    min-height: 200px;

    @media only screen and (min-width: $screen-md + 1) {
      max-height: 150px;
      min-height: 150px;
    }
  }
}

.card img {
  width: 100%;
}

// Fix for fading placeholder images in
.card-title--overlap {
  position: relative;
  z-index: 1;
}

.card {
  > a {
    color: $cr-gray-dark;

    &:hover {
      text-decoration: none;
    }

    .card-block {
      .card-title:hover {
        text-decoration: underline;
      }
    }
  }
}

.cards-2x-sm {
  @media (max-width: $screen-sm) {
    .card {
      float: left;
      width: 50%;
    }
  }
}
