.bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.jumbotron:not(.bg-blue) {
  background-color: transparent;
}

.jumbotron {
  .font-size-base p, .font-size-base {
    font-size: $font-size-base; // 16px

    @media screen and (min-width: $screen-xs) {
      font-size: $font-size-large; // 19px
    }
  }
}
