// Styles governing markdown

.markdown {
  $color: inherit;
  $family: $condensed-extra-font-face;
  $weight: 500;
  $line-height: 1.5;
  $transform: uppercase;
  $h1-size: $base-font-size * 3.5;
  $h2-size: $base-font-size * 3;
  $h3-size: $base-font-size * 2.5;
  $h4-size: $base-font-size * 2.25;
  $h5-size: $base-font-size * 2;
  $h6-size: $base-font-size * 1.75;

  h1, h2, h3, h4, h5, h6 {
    color: $color;
    font-family: $family;
    font-weight: $weight;
    line-height: $line-height;
    margin: unset;
    text-transform: $transform;
  }

  $h-sizes: (
    1: $h1-size,
    2: $h2-size,
    3: $h3-size,
    4: $h4-size,
    5: $h5-size,
    6: $h6-size,
  );

  @mixin h-sizes {
    @each $num, $size in $h-sizes {
      h#{$num} {
        font-size: #{$size};
      }
    }
  }

  @include h-sizes;
}