.media.featured {
  flex-direction: column;
  display: flex;

  .media-body {
    margin: 0;
    width: 100%;
    display: block;
    flex-direction: column;
    overflow: visible;
    order: 2;
  }
}
