// 1. Master podcast styles
// 2. Podcast series styles
// 3. Podcast episode styles




// 1. Master podcast styles
.media-podcast {
  max-width: 750px;

  .landing-header {
    font-size: $font-size-h1;
    line-height: 2.75rem;

    @media screen and (min-width: $screen-xs) {
      font-size: 4rem;
      line-height: 4rem;
    }
  }


  & .card {
    margin-bottom: 3.75rem;

    @media screen and (min-width: $screen-xs) {
      margin-bottom: 3.875rem;
    }

    & img:not(.tmp-img-placeholder) {
      min-width: 100%; // 🛠 probably remove once we refactor cards
    }
  }
}

// 2. Podcast series styles
.media-podcast-show {
  .mobile-wrapper {
    .podcast-header-text {
      padding-top: 2rem;
      text-align: left;
    }

    @media screen and (min-width: $screen-xs) {
      .podcast-header-artwork {
        position: absolute;
      }

      .podcast-header-text {
        left: 200px;
        padding-top: 0;
        padding-left: .5rem;
        position: relative;
        width: calc(100% - 200px);
      }
    }

    @media screen and (min-width: $screen-sm) {
      .podcast-header-text {
        left: 330px;
        padding-left: 1rem;
        width: calc(100% - 330px);
      }
    }

    @media screen and (min-width: $screen-md) {
      .podcast-header-text {
        padding-left: 2.75rem;
      }
    }
  }

  .podcast-hero {
    color: $cr-white;
    padding-bottom: 0;
    width: 100%;

    a, a:visited, a:hover, a:focus, a:active {
      color: $cr-white;
    }

    .header-content {
      background-color: rgba($cr-black, 0.2);
      padding: 1rem 0;

      @media screen and (min-width: $screen-sm) {
        padding-top: 3.75rem;
      }
    }
  }

  .feature-img {
    z-index: 2;

    &.tmp-img-placeholder {
      z-index: 1 !important;
    }
  }

  hr.hero {
    width: 31px;
    height: 3px;
    color: rgba($cr-white, 0.6);
    margin-left: 0;
  }

  .subtitle {
    font-size: $font-size-base;
    line-height: $line-height-base;

    @media screen and (min-width: $screen-sm) {
      font-size: $font-size-large;
      line-height: $line-height-large;
    }
  }

  .content {
    margin-top: 1.875rem;

    @media screen and (min-width: $screen-sm) {
      margin-top: 7rem;
    }

    & p {
      font-size: $font-size-large;
      line-height: $line-height-large;

      &.metadata {
        font-size: $font-size-smaller;
        line-height: 0.8125rem; //13px
      }

      &.episode-description {
        font-size: $font-size-small;
        line-height: $line-height-small; //20px
      }
    }

    & .list-title {
      font-size: $font-size-large;
      line-height: $line-height-large;

      &:first-child{
        margin-top: 0;
      }
    }
  }
}




// 3. Podcast episode styles
.media-podcast-episode {
  position: relative;

  .episode-header-background {
    .podcast-background-image {
      position: relative;
      width: 100%;
      height: 185px;
      overflow: hidden;

      @media screen and (min-width: $screen-sm) {
        height: 125px;
      }

      img {
        min-height: 185px;
        width: 100%;

        @media screen and (min-width: $screen-sm) {
          min-height: 125px;
        }
      }
    }
  }

  .episode-header {
    color: $cr-white;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 185px;
    max-height: 185px;
    background-color: rgba($cr-black, 0.2);

    @media screen and (min-width: $screen-sm) {
      min-height: 125px;
      max-height: 125px;
    }

    .episode-thumbnail-image__desktop img,
    .episode-thumbnail-image__mobile img {
      box-shadow: 0 0 8px 0 rgba(0,0,0, .15);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .episode-thumbnail-image__desktop {
      display: none;
      position: absolute;
      margin-top: 2rem;
      margin-right: 1rem;
      width: 7.5rem;
      height: 7.5rem;

      @media screen and (min-width: $screen-sm) {
        display: block;
        margin-left: -9rem;
      }
    }

    .episode-thumbnail-image__mobile {
      flex: 0 0 5rem;
      margin-top: 2rem;
      margin-right: 1rem;
      margin-left: 1rem;
      width: 5rem;
      height: 5rem;

      @media screen and (min-width: $screen-sm) {
        display: none;
      }
    }

    .episode-text {
      margin-top: 2rem;
      margin-left: 1rem;
    }

    .mobile-wrapper {
      display: flex;
    }
  }

  .embedded-audio-player {
    margin: 1rem 0 3rem;
  }

}
