.signoff {
  background: $cr-gray-lighter;
  font-size: $font-size-small;
  padding: 20px;
  padding-top: 45px;

  @media screen and (min-width: $screen-sm) {
    padding: 45px;
  }

  h2, h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 6px;
  }

  ol, ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 20px;

      &:first-of-type {
        margin-top: 1.75rem;
      }
    }
  }
}
