.social-share {
  a {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-top: 0.25rem;

    &:hover,
    &:active,
    &:active:hover,
    &:focus {
      text-decoration: none;
    }

    svg {
      height: 23px;
      width: 23px;
    }
  }

  &.text-gray-light a svg {
    color: $cr-gray-light;
  }
}

.cta-subscribe {
  .font-size-h3 {
    line-height: 0.89;
  }
  p.push-half-bottom {
    margin-bottom: 15px;
  }
}
