//
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 992px;

// Colors
$cr-white: #FFFFFF;
$cr-gray-dark: #4D4D4D;
$cr-gray: #737373;
$cr-gray-light: #979797;
$cr-gray-lighter: #E7E7E7;
$cr-cyan: #0095D9;
$cr-black: #000000;

// Font Sizes
$font-size-h2: 140%;
$font-size-large: 1.1875rem; //19px
$font-size-small: 0.875rem; //14px
$font-size-smaller: .75rem; //12px

$line-height-base: 1.5;
$line-height-large: 1.6875rem; //27px