---
layout: default
---

<div class="media-music-album">
  <div class="jumbotron jumbotron-xl" style="background-image: url('{{ page.bg_image | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')" data-optimize-bg-img>
    <div class="bg-overlay"></div>
    <div class="jumbotron-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center text-xs-left">
            <!-- album image -->
            <img class="center-block" src="{{ page.image | imgix: site.imgix }}?{{ site.imgix_params.placeholder_square }}" sizes="{{ site.image_sizes.music_thumb }}" data-optimize-img>

            <!-- breadcrumb navigation -->
            <ol class="breadcrumb white-faded mobile-hard-left">
              <li><a href="/">Media</a></li>
              <li><a href="/music">Music</a></li>
            </ol>

            <!-- album title -->
            <h1 class="section-header text-uppercase text-white flush-top">
              {{ page.title }}
            </h1>

            <!-- album description -->
            <div class="font-size-base white-faded">{{ page.content }}</div>

            {% include _external-music-links.html %}

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        {% if site.albums.size > 1 %}
        <section class="push-bottom">
          <h2 class="component-header flush-top">More Albums</h2>

          <div class="card-deck carousel" data-crds-carousel="mobile-scroll">
            <div class="feature-cards">
              {% assign limited = site.albums | sort: 'date' | reverse | slice: 0, 4 | exclude: album.title %}
              {% for album in limited limit: 3 %}
                {% include _album-card.html title=false %}
              {% endfor %}
            </div>
          </div>
        </section>
        {% endif %}

        {% if site.songs.size > 1 %}
          <section class="soft-7-bottom">
            <h2 class="component-header flush-top">Recent Songs</h2>
            <div class="card-deck carousel" data-crds-carousel="mobile-scroll">
              <div class="feature-cards">

                {% assign recent = site.songs | sort: 'date' | reverse %}
                {% for song in recent limit: 9 %}
                  {% include _song-card.html %}
                {% endfor %}

              </div>
            </div>
          </section>
        {% endif %}

      </div>
    </div>
  </div>
</div>
