---
layout: default
---
<div class="jumbotron jumbotron--tall bg-blue">
  <div class="container">
    <h1 class="section-header text-white">Hot, Fresh Words Written For You</h1>
    <p style="max-width: 640px; margin-left: auto; margin-right: auto; font-weight: 300;">Welcome to the information buffet. Reading is free, but taking action is gonna cost you. Dig in.</p>
  </div>
</div>
<div class="container">
  {% assign date_format = site.crds-media.date_format | default: "%b %-d, %Y" %}
  {% assign sorted = site.data.crds.post %}
  {% assign featured = sorted | first %}
  {% assign unfeatured = sorted | slice:1, sorted.size %}
  <div class="card card--article card--feature">
    <a href="/blog/{{ featured.slug }}">
      <div class="card-bgImage" style="background-image: url('{{ featured.featured_image.url }}');"></div>
      <div class="card-block">
        <h4 class="card-title font-family-condensed-extra text-uppercase">{{ featured.title }}</h4>
        <p class="card-text soft-quarter-top flush-bottom">
          <a class="card-author">
            {{ featured.author.full_name }}
          </a> | 
          <span class="card-date">
              {{ featured.published_date | date: date_format }}
          </span>
        </p>
      </div>
    </a>
  </div>
  <div data-card-deck class="card-deck card-deck--expanded-layout card-deck--wrap">
    {% for post in unfeatured %}
      <div class="card card--article">
        <a href="/blog/{{ post.slug }}">
          <div class="card-bgImage" style="background-image: url('{{ post.featured_image.url }}');"></div>
          <div class="card-block">
            <h4 class="card-title font-family-condensed-extra text-uppercase">{{ post.title }}</h4>
            <p class="card-text"><a class="card-author">{{ post.author.full_name }}</a> | 
              <span class="card-date">
                {{ post.published_date | date: date_format }}
              </span>
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
