---
layout: default
---

{% assign author = site.authors | where:"name", page.author | first %}

<article class="article-tpl">
  <header style="background-image: url('{{ page.image | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}')" data-optimize-bg-img data-hero-image>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ol class="breadcrumb text-white hard-left flush-bottom">
            <li><a href="/">Media</a></li>
            <li><a href="/articles">Articles</a></li>
          </ol>
          <h1 class="text-white flush-top" data-title>{{ page.title | escape | upcase }}</h1>
          <p class="flush-bottom soft-half-top"><a href="/topics/{{ page.topic | replace: '-', ' ' | downcase }}">{{ page.topic | upcase }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;{% include _read-time.html content_type=page %}</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% if page.preview %}
      <main class="col-md-8 col-md-offset-2" data-body></main>
      {% else %}
      <main class="col-md-8 col-md-offset-2">{{ page.content }}</main>
      {% endif %}

      <footer class="col-md-8 col-md-offset-2">
        <p class="flush-bottom">Written by <a href="{{ author.url }}" data-author-name>{{ page.author | titleize }}</a></p>
        <date data-post-date>{{ page.date | format_date }}</date>

        <div class="soft-top">
          {% include _social-share.html %}
        </div>

        <!-- Topic -->
        {% assign topic = site.topics | where: "title", page.topic | first %}
        {% if page.topic %}
        <div class="keywords">
          <p class="flush-bottom soft-top">
            <strong>Topic</strong>
          </p>
          <ul class="list-inline">
            <li>
              <a href="{{ topic.url }}">{{ topic.title }}</a>
            </li>
          </ul>
        </div>
        {% endif %}

        <!-- Tags -->
        {% if page.tags.size > 0 %}
        <div class="keywords">
          <p class="flush-bottom soft-half-top">
            <strong>Tags</strong>
          </p>
          <ul class="list-inline" data-tags>
            {% for tag in page.tags %}
            <li>
              <a href="{{ site.search_domain }}/search?q=tags: '{{ tag }}'" title="Search {{ tag }}">{{ tag | downcase }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <section class="soft-top">
          <header class="more-media-header">
            <h3>recent articles</h3>
            <a class="font-size-small" href="/articles">See all articles</a>
          </header>

          <div class="soft-half-top">
            <div class="card-deck carousel" data-crds-carousel="mobile-scroll" data-card-deck>
              <div class="feature-cards feature-cards-3x">
                {% assign limited = site.articles | sort: 'date' | reverse | slice: 0, 4 | exclude: page.title %}
                {% for post in limited limit: 3 %}
                  {% include _article-card.html %}
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
  </div>
</article>
