---
layout: default
title: Articles
---

{% assign author = page.author | get_doc %}
{% assign topic = page.category | get_doc %}
{% assign tags = page.tags | get_doc %}

<article class="article-tpl">
  <header
    style="background-image: url('{% if page.image.url %}{{ page.image.url | imgix: site.imgix }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}?{{ site.imgix_params.placeholder }}')"
    data-optimize-bg-img
    data-hero-image
  >
    <div class="bg-overlay"></div>
    <div class="container mobile-soft-half-bottom soft-bottom">
      <div class="row mobile-soft-half-bottom soft-half-bottom">
        <div class="col-md-8 col-md-offset-2">
          <ol class="breadcrumb text-white hard-left">
            <li><a href="/">Media</a></li>
            <li><a href="/articles">Articles</a></li>
          </ol>
          <h1 class="media-title flush-top" data-title>
            {{ page.title | escape }}
          </h1>
          <p class="flush-bottom soft-half-top">
            {% if topic %}
            <a href="{{ topic.url }}">{{  topic.title | upcase | append: "  |  " }}</a>
            {% endif %}
            {% include _read-time.html duration=page.duration content_type=article %}
          </p>
          <div class="soft-top">
            {% include _social-share.html type='light' %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% if page.preview %}
      <main class="col-md-8 col-md-offset-2" data-body></main>
      {% else %}
      <main class="col-md-8 col-md-offset-2">
        {% if page.lead_text %}
        <p class="lead">{{ page.lead_text }}</p>
        {% endif %}
        <div class="col-xs-6 col-sm-4 col-md-3 pull-right">
          {% include _subscribe-call-to-action.html %}
          <div class="push-top soft-top border-top border-bottom">
            <div class="text-center">
              {% include _social-share.html heart=false %}
            </div>
            <p class="font-family-base-bold font-size-smaller text-center text-cyan">
              Share with others
            </p>
          </div>
        </div>

        {{ page.body | markdownify }}

      </main>
      {% endif %}

      <address>
        <small class="flush-bottom">
          Written by
          <a href="{{ author.url }}" data-author-name>{{ page.author.full_name | titleize }}</a>
          on
          <date data-post-date>{{ page.date | format_date }}</date>
        </small>
      </address>

      {% if page.discussion %} {% assign discussion =
      page.discussion | get_doc %}
      <div class="col-md-8 col-md-offset-2">
        {% include _discussion-questions.html discussion=discussion %}
      </div>
      {% endif %}

      {% assign related = page | related: site, 5 | exclude: page.title %}
      {% if page.recommended_media and page.recommended_media != page %}
        {% assign recommended = page.recommended_media %}
      {% else %}
        {% assign recommended = related | first %}
      {% endif %}

      <footer class="col-md-8 col-md-offset-2">
        <section class="soft-top">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              {% include _article-card.html post=recommended %}
            </div>
            <div class="col-xs-12 col-sm-6">
              {% if page.sign_off %}
                {% assign sign_off = page.sign_off %}
              {% else %}
                {% assign sign_off = site.sign_offs | sort: "published_at" | first %}
              {% endif %}

              <div class="signoff-card">
                <div class="content" style="background-image: url('{% if sign_off.background_image.url %}{{
                  sign_off.background_image.url | imgix: site.imgix
                }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}?{{
                  site.imgix_params.placeholder
                }}')"
                data-optimize-bg-img>
                  <h1>{{ sign_off.title }}</h1>
                  {{ sign_off.body | markdownify }}
                </div>
                <footer>
                  {{ sign_off.cta | markdownify }}
                </footer>
              </div>
            </div>
          </div>

          <div class="soft-top">
            <div class="row">

              {% if page.recommended_media and page.recommended_media != page %}
                {% assign posts = related | slice: 0, 3 %}
              {% else %}
                {% assign posts = related | slice: 1, 3 %}
              {% endif %}

              {% for post in posts %}
                <div class="col-xs-12 col-sm-4">
                  {% include _article-card.html post=post %}
                </div>
              {% endfor %}
            </div>
          </div>
        </section>

        {% if topic %}
          <div class="topic-and-tags soft-top">
            <a class="topic" href="{{ topic.url }}">{{ topic.title }}</a>

            <ul class="tags list-inline">
              {% for tag in tags %}
                <li>
                  <a href="{{ tag.url }}">{{ tag.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

      </footer>
    </div>
  </div>
</article>


