---
layout: default
---

{% assign author = page.author | get_doc %}

<article class="article-tpl">

  <header class="commentary-header"
  style="position: relative; background-color: rgba(0, 0, 0, 0); background-image: url('{% if page.image.url %}{{ page.image.url | imgix: site.imgix }}{% else %}{{ site.default_image | imgix: site.imgix }}{% endif %}?{{ site.imgix_params.placeholder }}');" data-optimize-bg-img data-hero-image>
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="episode-header">
            <ol class="breadcrumb text-white hard-left">
              <li><a href="/">Media</a></li>
              <li><a href="/commentaries">Commentaries</a></li>
            </ol>
            <h1 class="text-white flush-top" data-title="">{{ page.title | escape | upcase }}</h1>
            <p class="flush-bottom soft-half-top">
              <span class="read-time font-size-smaller push-quarter-ends">
                <time is="time-ago" datetime="{{ page.published_at | date: "%FT%T%z" }}" title="{{ page.published_at | date: "%FT%T%z" }}"></time>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <main class="col-md-8 col-md-offset-2">
        {{ page.body | markdownify }}
      </main>

      <footer class="col-md-8 col-md-offset-2">
        {% if author %}
          <p class="flush-bottom">
            by
            <a href="{{ author.url }}" data-author-name>{{ author.full_name | titleize }}</a>
            <span class="font-size-large"> &#183;</span>
            <date data-post-date>{{ page.published_at | format_date }}</date>
          </p>
        {% endif %}

        <div class="soft-top">
          {% include _social-share.html %}
        </div>

        <!-- Topic -->
        {% assign topic = page.category | get_doc %}
        {% if topic %}
          <div class="keywords">
            <p class="flush-bottom soft-top">
              <strong>Topic</strong>
            </p>
            <ul class="list-inline">
              <li>
                <a href="{{ topic.url }}">{{ topic.title }}</a>
              </li>
            </ul>
          </div>
        {% endif %}

        <!-- Tags -->
        {% include _tags_list.html tags=page.tags %}

        <section class="soft-top">
          <header class="more-media-header">
            <h3>more fresh perspectives</h3>
            <a class="font-size-small" href="/commentaries">See all commentaries</a>
          </header>

          <div class="soft-half-top">
            {% assign limited = site.commentaries | sort: 'published_at' | reverse | slice: 0, 20 | exclude: page.title %}
            {% for featured in limited limit: 20 %}
              {% include _media-object-list.html media_type="commentary-more" %}
            {% endfor %}
          </div>
        </section>

      </footer>

    </div>

    </div>
  </div>

</article>