---
layout: default
---

{% assign author = site.authors | where:"name", page.author | first %}

<article class="article-tpl">

  {% include _commentary-header.html %}

  <div class="container">
    <div class="row">
      
      <main class="col-md-8 col-md-offset-2">
        {{ page.content }}
      </main>

      <footer class="col-md-8 col-md-offset-2">
        <p class="flush-bottom">Written by <a href="{{ author.url }}" data-author-name>{{ page.author | titleize }}</a></p>
        <date data-post-date>{{ page.date | format_date }}</date>
      
        <div class="soft-top">
          {% include _social-share.html %}
        </div>
      
        <!-- Topic -->
        {% assign topic = site.topics | where: "title", page.topic | first %}
        {% if page.topic %}
        <div class="keywords">
          <p class="flush-bottom soft-top">
            <strong>Topic</strong>
          </p>
          <ul class="list-inline">
            <li>
              <a href="{{ topic.url }}">{{ topic.title }}</a>
            </li>
          </ul>
        </div>
        {% endif %}
      
        <!-- Tags -->
        {% include _tags_list.html %}

        <!-- More -->
        {% include _commentary-more.html %}

      </footer>

    </div>

    </div>
  </div>

</article>