<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    {% include head.html %}
  </head>
  <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFS4MJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {% include header.html %}
    {{ content }}
    {% include footer.html %}

    <script src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5391d6a6145291c4" async></script>
    {% asset application.js %}
    {% if page.title == "Preview" %}
      <script src="https://unpkg.com/marked@0.3.19/lib/marked.js"></script>
      {% asset preview.js %}
    {% endif %}
  </body>
</html>
