<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
   {% include head.html %}
</head>

<body>

    <!-- Content
    ============================================= -->
    {{ content }}
    <!-- #content end -->

    <!-- Footer
		============================================= -->
    {% include footer.html %}
    <!-- #footer end -->

  </div>
  <!-- #wrapper end -->

  <!-- External JavaScripts
	============================================= -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Footer Scripts
	============================================= -->

</body>

</html>