---
layout: default
---

<div class="container-fluid podcast-episode-header">
  <div class="podcast-episode-image">
    <img src="" alt="podcast image">
  </div>

  <div class="podcast-episode-text">
    <p class="podcast-episode-breadcrumbs"><a href="#media">Media</a> / <a href="#media">Podcasts</a> / <a href="#media">IKR?</a> /</p>
    <p class="podcast-episode-title">Episode 9: The one about loss... and poop</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p>Farts</p>
    </div>
  </div>
</div>

{% include _newsletter.html %}
