---
layout: video_tpl
---

<div class="row push-ends">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-9">
        {% assign tabs = 'description transcription' | split: ' ' %}
        {% if page.transcription or page.description %}
          {% include _tabs.html tabs=tabs %}
        {% endif %}

        {% if page.discussion %}
        <div class="push-bottom">
          {% include _discussion-questions.html %}
        </div>
        {% endif %}

        <!-- List of contributors -->
        {% if page.authors %}
        {% for author_name in page.authors %}
          {% assign author = site.authors | where: "name", author_name | first %}
          {% if forloop.first %}<p class="flush-bottom">Featuring{% elsif forloop.last %}and{% else %}&comma;{% endif %} <a href="{{ author.url }}">{{author_name | titleize}}</a>{% if forloop.last %}</p>{% endif %}
        {% endfor %}
        {% endif %}

        <p>{{ page.date | format_date }}{% if page.video_duration != nil %} <span class="divider push-quarter-sides">•</span> {{ page.video_duration }} {% endif %}</p>

        <div class="soft-half-top push-top">
          {% include _social-share.html %}
        </div>

        <!-- Only 1 topic per page -->
        {% if page.topic %}
        <p class="flush-bottom soft-top">
          <strong>Topic</strong>
        </p>
        <ul class="list-inline">
          <li>
            <a href="/topics/{{ page.topic_slug }}">{{ page.topic }}</a>
          </li>
        </ul>
        {% endif %}

        <!-- Page can have many tags -->
        {% include _tags_list.html %}
      </div>
      <div class="col-md-3 soft-half-top">
        {% include _subscribe-buttons.html content_type=page youtube=true row=false subscribe=false %}
      </div>
    </div>
  </div>
</div>

{% assign series = site.series | where: 'slug', page.series_slug %}
{% for messages in series %}
  {% assign videos = messages.associations['videos'] | exclude: page.title %}
{% endfor %}

<div class="push-top soft-top row">
  <!-- Show if series has additional messages -->
  {% if videos %}
  <section class="col-md-10 col-md-offset-1">
    <h2 class="component-header flush-top">In this Series</h2>

    <div class="cards-4x cards-2x-xs">
      <div class="row">
      {% for message in videos %}
        {% include _message-card.html series=false %}
      {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  {% assign limited = site.series | sort: "start_date" | reverse | exclude: page.series | slice: 0, 6 %}
  <section class="col-md-10 col-md-offset-1">
    <h2 class="component-header flush-top">Recent Series</h2>
    <div class="cards-3x">
      <div class="row">
        {% for item in limited %}
        <div class="card">
          {% include _series-card.html %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>