---
layout: default
---

<div class="container">
  <h2>{{ page.title }}</h2>

  <img src="{{ page.image.url | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}" alt="{{ page.image.title }}" data-optimize-img>

  <ul>
    {% assign perspectives = page.perspectives | get_docs | sort: 'published_at' | reverse %}
    {% for perspective in perspectives %}
      <li>
        <a href="{{ perspective.url }}">{{ perspective.title }}</a>
        <br>
        {{ perspective.published_at | format_date }}
      </li>
    {% endfor %}
  </ul>
</div>
