---
layout: default_footer_flush
---

<div class="perspective-tpl">
  <header class="container-fluid" style="background-image: url('//crds-cms-uploads.imgix.net/content/images/another-perspective-bg.png?blend64=MTUxNTE1&balph=60&bm=normal&w=10')" data-optimize-bg-img>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <ol class="breadcrumb text-white hard-left">
          <li><a href="/">Media</a></li>
          <li><a href="/perspectives">Perspectives</a></li>
          <li><a href="/perspectives">Oct 1</a></li>
        </ol>
        <div class="page-title"><img src="//crds-cms-uploads.imgix.net/content/images/logo-another-perspective.svg" alt="another perspective"></div>
        <p class="page-tagline">What's happening in the world matters more than you might think.</p>
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="featured-article">
        <article>
          <header>
            <h1 class="title">{{ page.title }}</h1>
            <time class="published">{{ page.published_at | date: '%b %-d' }}</time>
          </header>
          <div class="content">
            {{ page.body | markdownify }}
          </div>
          <footer>
            {% include _social-share.html %}
            {% if page.author %}
              {% assign author = page.author | get_doc %}
              <address>Written by <a href="{{ author.url }}">{{ author.full_name }}</a></address>
            {% endif %}
          </footer>
        </article>
      </div>
    </div>

    <div class="row">
      <div class="related-articles">
        {% assign perspectives = site.perspectives | sort: 'published_at' | reverse | exclude: page.title | slice: 0, 4 %}
        {% for perspective in perspectives %}
          <article>
            <a href="{{ perspective.url }}">
              <header>
                <h2 class="title">{{ perspective.title }}</h2>
                <time class="published">{{ perspective.published_at | date: '%b %-d' }}</time>
              </header>
              <div class="content">
                {{ perspective.body | truncate: 100 }}
              </div>
            </a>
            <footer>
              {% include _social-share.html %}
            </footer>
          </article>
        {% endfor %}
      </div>
    </div>
  </main>

  <footer class="footer-btn">
    <a href="/perspectives" role="button">See more perspectives</a>
  </footer>
</div>
