---
layout: default
---
{% assign date_format = site.crds-media.date_format | default: "%b %-d, %Y" %}
{% assign this_album = site.albums | where:"title", page.album_title | first %}

{% assign videos = "" | split: "" %}
{% for related_video in page.related_videos %}
  {% assign video = site.videos | where: "title", related_video["raw"]["fields"]["title"] | first %}
  {% assign videos = videos | push: video %}
{% endfor %}

<div class="jumbotron jumbotron-xl" style="background-image: url('{{ page.bg_image | imgix: site.imgix }}'); background-size: cover;" data-optimize-img>
  <div class="bg-overlay"></div>
  <div class="container jumbotron-content">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="col-md-6 col-md-offset-1 text-left">
        <ol class="breadcrumb hard-sides hard-bottom flush-bottom">
          <li><a href="/">Media</a></li>
          <li><a href="/music">Music</a></li>
        </ol>

        <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">{{ page.title }}</h1>

        <div class="font-size-base white-faded markdown">{{ page.content }}</div>
      </div>
      <div class="col-md-4 push-bottom mobile-center-block">
        <img src="{{ page.image | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}" sizes="{{ site.image_sizes.music_thumb }}" data-optimize-img>
      </div>
    </div>
    <div class="row text-left push-bottom">
      <div class="col-md-6 col-md-offset-1">
        {% include _external-music-links.html %}
      </div>
    </div>
    {% if videos.size > 0 %}
    <div class="row text-left">
      <div class="col-sm-10 col-sm-offset-1">
          <h3 class="text-lowercase font-size-large font-family-base-light white-faded ">watch</h3>
          <div data-card-deck class="card-deck">
            <div class="cards-4x">
              <div class="row">
                {% for video in videos %}
                  {% include _video-card.html image_size="4x" theme="dark" %}
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="container soft-7-bottom">
  <div class="row push-bottom soft-bottom">
    <div class="col-sm-8 col-sm-offset-2">
      <h3 class="component-header">About This Song</h3>
      <ul class="nav nav-tabs" role="tablist">
        {% if page.details %}
          <li role="presentation" class="active">
            <a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a>
          </li>
        {% endif %}

        {% if page.lyrics %}
          <li role="presentation">
            <a href="#lyrics" aria-controls="lyrics" role="tab" data-toggle="tab">Lyrics</a>
          </li>
        {% endif %}

        {% if page.chords %}
          <li role="presentation">
            <a href="#chords" aria-controls="chords" role="tab" data-toggle="tab">Chord Charts</a>
          </li>
        {% endif %}

        {% if page.stems %}
          <li role="presentation">
            <a href="#stems" aria-controls="stems" role="tab" data-toggle="tab">Stems</a>
          </li>
        {% endif %}
      </ul>

      <div class="tab-content markdown">
        <div role="tabpanel" class="tab-pane soft-bottom active" id="details">
          {{ page.details }}
        </div>

        {% if page.lyrics %}
          <div role="tabpanel" class="tab-pane soft-bottom" id="lyrics">
            {{ page.lyrics }}
          </div>
        {% endif %}

        {% if page.chords %}
          <div role="tabpanel" class="tab-pane soft-bottom" id="chords">
            {{ page.chords }}
          </div>
        {% endif %}

        {% if page.stems %}
          <div role="tabpanel" class="tab-pane soft-bottom" id="stems">
            {{ page.stems }}
          </div>
        {% endif %}
      </div>

      <div class="soft-half-top push-top">
        <p>{{ page.date | date: date_format }} {% if page.audio_duration != nil %}<span class="divider push-quarter-sides">•</span> {{ page.audio_duration }} mins {% endif %}</p>
      </div>

      <div class="push-top">
        {% include _social-share.html %}
      </div>

      <!-- Topic -->
      {% assign topic = site.topics | where: "title", page.topic | first %}
      {% if page.topic %}
        <p class="flush-bottom soft-top">
          <strong>Topic</strong>
        </p>
        <ul class="list-inline">
          <li>
            <a href="{{ topic.url }}">{{ topic.title }}</a>
          </li>
        </ul>
      {% endif %}

      <!-- Tags -->
      {% if page.tags.size > 0 %}
        <p class="flush-bottom soft-half-top">
          <strong>Tags</strong>
        </p>
        <ul class="list-inline">
          {% for tag in page.tags %}
            <li>
              <a href="{{ site.search_domain }}/search?q=tags: '{{ tag }}'" title="Search {{ tag }}">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <!-- Album -->
      {% if page.album_title %}
        <p class="flush-bottom soft-half-top">
          <strong>Album</strong>
        </p>
        <div class="media flush-top">
          <div class="d-flex flex-row-reverse">
            <div class="media-object img-size-6">
              <a href="/albums/{{ page.album_slug }}">
                <img src="{{ page.album_image | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}" sizes="{{ site.image_sizes.album_thumb }}" data-optimize-img />
              </a>
            </div>
          </div>

          <div class="media-body d-flex flex-column justify-content-center align-items-start">
            <a href="/albums/{{ page.album_slug }}">
              {{ page.album_title }}
            </a>
            <div>
            {% for author in this_album.author %}
              {% assign this_author = site.authors | where:"name", author | first %}
              {% if this_author %}
                <span class="font-size-small text-gray-light">{{ this_author.name }}</span>{% if forloop.last == false %}, {% endif%}
              {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

    </div>
  </div>

  <!-- Recent Songs -->
  {% if site.songs.size > 1 %}
    <div class="push-bottom row">
      <div class="col-sm-8 col-sm-offset-2">

        <section>
          <h2 class="component-header flush-top">Recent Songs</h3>
          <div class="card-deck carousel" data-crds-carousel="mobile-scroll">
            <div class="feature-cards">

              {% assign recent = site.songs | sort: 'date' | reverse %}
              {% for song in recent limit: 9 %}
                {% include _song-card.html %}
              {% endfor %}

            </div>
          </div>
        </section>

      </div>
    </div>
  {% endif %}
</div>
