---
layout: default
---
{% assign date_format = site.crds-media.date_format | default: "%b %-d, %Y" %}
{% assign this_album = site.albums | where:"title", page.album_title | first %}

<div class="jumbotron jumbotron-xl" style="background-image: url('{{ page.bg_image | imgix: site.imgix }}'); background-size: cover;" data-optimize-img>
  <div class="bg-overlay"></div>
  <div class="container jumbotron-content">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="col-md-6 col-md-offset-1 text-left">
        <span class="breadcrumb hard flush-bottom">
          <a href="/">Media</a> /
          <a href="/music">Music</a> /
        </span>
        <h1 class="section-header flush-top">{{ page.title }}</h1>
        <div class="font-size-base white-faded">{{ page.content }}</div>
      </div>
      <div class="col-md-4 push-bottom">
        <img src="{{ page.image | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}" sizes="{{ site.image_sizes.music_thumb }}" data-optimize-img>
      </div>
    </div>
    <div class="row text-left push-bottom">
      <div class="col-md-6 col-md-offset-1">
        {% include _external-music-links.html %}
      </div>
    </div>
  </div>
</div>
<div class="container soft-7-bottom">
  <div class="row push-bottom soft-bottom">
    <div class="col-sm-8 col-sm-offset-2">
      <h3 class="component-header">About This Song</h3>
      <ul class="nav nav-tabs" role="tablist">
        {% if page.details %}
          <li role="presentation" class="active">
            <a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a>
          </li>
        {% endif %}

        {% if page.lyrics %}
          <li role="presentation">
            <a href="#lyrics" aria-controls="lyrics" role="tab" data-toggle="tab">Lyrics</a>
          </li>
        {% endif %}
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane soft-bottom active" id="details">
          <p>{{ page.details | strip_html | markdownify }}</p>
        </div>

        {% if page.lyrics %}
          <div role="tabpanel" class="tab-pane soft-bottom" id="lyrics">
            <p>{{ page.lyrics | strip_html | markdownify }}</p>
          </div>
        {% endif %}
      </div>

      <div class="soft-half-top push-top">
        <p>{{ page.date | date: date_format }} {% if page.audio_duration != nil %}<span class="divider push-quarter-sides">•</span> {{ page.audio_duration }} mins {% endif %}</p>
      </div>

      <div class="push-top">
        {% include _social-share.html %}
      </div>

      <!-- Topic -->
      {% assign topic = site.topics | where: "title", page.topic | first %}
      {% if page.topic %}
        <p class="flush-bottom soft-top">
          <strong>Topic</strong>
        </p>
        <ul class="list-inline">
          <li>
            <a href="{{ topic.url }}">{{ topic.title }}</a>
          </li>
        </ul>
      {% endif %}

      <!-- Tags -->
      {% if page.tags.size > 0 %}
        <p class="flush-bottom soft-half-top">
          <strong>Tags</strong>
        </p>
        <ul class="list-inline">
          {% for tag in page.tags %}
            <li>
              <a href="{{ site.search_domain }}/search?q=tags: '{{ tag }}'" title="Search {{ tag }}">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <!-- Album -->
      {% if page.album_title %}
        <p class="flush-bottom soft-half-top">
          <strong>Album</strong>
        </p>
        <div class="media flush-top">
          <div class="d-flex flex-row-reverse">
            <div class="media-object img-size-6">
              <a href="/albums/{{ page.album_slug }}">
                <img src="{{ page.album_image | imgix: site.imgix }}?{{ site.imgix_params.placeholder }}" sizes="{{ site.image_sizes.album_thumb }}" data-optimize-img />
              </a>
            </div>
          </div>

          <div class="media-body d-flex flex-column justify-content-center align-items-start">
            <a href="/albums/{{ page.album_slug }}">
              {{ page.album_title }}
            </a>
            {% for author_name in podcast.authors %}
              {% assign author = site.authors | where:"name", author_name | first %}
              {% if author %}
                <a href="{{ author.url }}">{{ author.name | titleize }}</a> {% if forloop.last == false %} and {% endif %}
              {% endif %}
            {% endfor %}
            <div>
            {% for author in this_album.author %}
              {% assign this_author = site.authors | where:"name", author | first %}
              {% if this_author %}
                <span class="font-size-small text-gray-light">{{ this_author.name }}</span> {% if forloop.last == false %}, {% endif%}
              {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

    </div>
  </div>

  <!-- Recent Songs -->
  {% if site.songs.size > 1 %}
    <div class="push-bottom row">
      <div class="col-sm-8 col-sm-offset-2">

        <section>
          <h2 class="component-header flush-top">Recent Songs</h3>
          <div class="card-deck carousel" data-crds-carousel="mobile-scroll">
            <div class="feature-cards">

              {% assign recent = site.songs | sort: 'date' | reverse %}
              {% for song in recent limit: 9 %}
                {% include _song-card.html %}
              {% endfor %}

            </div>
          </div>
        </section>

      </div>
    </div>
  {% endif %}
</div>
