---
layout: default
---

<div class="container">
  <h1 class="section-header">{{ page.title }}</h1>

  {% assign articles = site.articles | where:"topic", page.title | reverse %}
  {% if articles.size > 0 %}
  <div class="border-bottom push-bottom">
    <h2 class="push-half-bottom">Articles</h2>
  </div>
  <div data-card-deck class="card-deck">
    <div class="cards-4x">
      <div class="row">
      {% for post in articles %}
        {% if post.topic == page.title %}
          {% include _article-card.html content_type=post %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  {% assign episodes = site.episodes | where:"topic", page.title %}
  {% if episodes.size > 0 %}
    <div class="border-bottom push-bottom">
      <h2 class="push-half-bottom">Podcasts</h2>
    </div>
    <div data-card-deck class="card-deck">
      <div class="cards-4x">
        <div class="row">
        {% for podcast in episodes %}
          {% include _podcast-card.html %}
        {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% assign songs = site.songs | where:"topic", page.title | reverse %}
  {% if songs.size > 0 %}
    <div class="border-bottom push-bottom">
      <h2 class="push-half-bottom">Songs</h2>
    </div>
    <div data-card-deck class="card-deck">
      <div class="cards-4x">
        <div class="row">
          {% for song in songs %}
            {% include _song-card.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Videos -->
  {% assign videos = site.videos | where:"topic", page.title | reverse %}
  {% if videos.size > 0 %}
    <div class="border-bottom push-bottom">
      <h2 class="push-half-bottom">Videos</h2>
    </div>
    <div data-card-deck class="card-deck">
      <div class="cards-4x">
        <div class="row">
          {% for video in videos %}
            {% include _video-card.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
