---
layout: default
---
{% assign video_id = page.source_url | youtube_id %}
{% assign series = site.series | where:"title", page.series | first %}
<div class="video-tpl">

  <div class="bg-charcoal">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          {% if video_id %}
          <div class="push-top soft-top">
            <div class="mobile-flush">
              {% include _yt-embed.html %}
            </div>
          </div>
          {% endif %}

          <header>
            {% if page.audio_source_url or page.program_url %}
            <div class="sources push-quarter-top">
              {% if page.audio_source_url %}
              <a class="secondary" href="{{ page.audio_source_url }}" target="_blank">Listen to audio</a>
              {% endif %}
              {% if page.program_url %}
              <a class="secondary" href="{{ page.program_url }}" target="_blank">View program</a>
              {% endif %}
            </div>
            {% endif %}

            <div>
              <!-- Start breadcrumbs -->
              {% assign url_array = page.url | split: '/' | shift | pop %}
              {% capture url_string %} {{ page.url | replace: '/', " " }}{% endcapture %}
              {% assign url="" %}
              <ol class="breadcrumb hard-sides">
                <li><a href="/">Media</a></li>

                {% for breadcrumb in url_array %}
                {% capture first_word %}{{ url_string | truncatewords: 1, "" }}{% endcapture %}
                {% capture url %}{{ url }}/{{ first_word }}{% endcapture %}

                <li><a href="{{ url }}">{{ breadcrumb | replace: '-', ' ' | capitalize }}</a></li>

                {% capture url_string %}{{ url_string | remove_first: first_word }}{% endcapture %}
                {% endfor %}
              </ol>
              <!-- End breadcrumbs -->

              <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom text-white">{{ page.title }}</h1>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row push-ends">
      <div class="col-sm-4 col-md-5 col-sm-offset-2">
        {% assign tabs = 'description transcription' | split: ' ' %}
        {% if page.transcription or page.description %}
          {% include _tabs.html tabs=tabs %}
        {% endif %}

        {% for author_name in page.authors %}
        {% assign author = site.authors | where:"name", author_name | first %}
        {% if author %}
        {% if forloop.first %}<p class="flush-bottom">Featuring {% endif %}
          <a href="{{ author.url }}">{{ author.name | titleize }}</a> {% if forloop.last == false %} and {% endif %} {% if forloop.last %}</p>{% endif%}
          {% endif %}
          {% endfor%}
          <p>{{ page.date | format_date }} {% if page.video_duration != nil %}
            <span class="divider push-quarter-sides">•</span> {{ page.video_duration }} {% endif %}</p>

          <div class="soft-half-top push-top">
            {% include _social-share.html %}
          </div>

          {% assign topic = site.topics | where: "title", page.topic | first %}
          {% if page.topic %}
          <p class="flush-bottom soft-top">
            <strong>Topic</strong>
          </p>
          <ul class="list-inline">
            <li>
              <a href="{{ topic.url }}">{{ topic.title }}</a>
            </li>
          </ul>
          {% endif %}
          {% include _tags_list.html %}
      </div>
      <div class="col-sm-4 col-md-3 soft-half-top">
        {% include _subscribe-buttons.html content_type=page youtube=true row=false subscribe=false %}
      </div>
    </div>

    {% if page.series_slug %}
    {% assign series = site.series | where: 'slug', page.series_slug %}
    {% for messages in series %}
    {% assign videos = messages.associations['videos'] | exclude: page.title %}
    {% endfor %}
    {% endif %}

    {% if site.videos.size > 1 or messages.size > 1 %}
    <div class="push-top soft-top row">
      <div class="col-sm-8 col-sm-offset-2">

        <section>
          <h2 class="component-header flush-top">
            {% if page.series_slug %}In this Series
            {% elsif page.topic %}Related Videos{% else %}Recent Videos{% endif %}
          </h2>

          {% if page.series_slug %}
          <div class="cards-3x cards-2x-xs">
            <div class="row">
              {% for message in videos %}
              {% include _message-card.html series=false %}
              {% endfor %}
            </div>
          </div>
          {% elsif videos.size < 1 %}
          <p class="font-family-base soft-ends push-bottom">Related messages will be here soon!</p>

          {% else %}

          <div class="cards-3x cards-2x-xs">
            <div class="row">
            {% if page.topic %}
              {% assign limited = site.videos | where: 'topic', page.topic | reverse | exclude: page.title | slice: 0, 9 %}
              {% if limited.size == 0 %}
                {% assign limited = site.videos | reverse | exclude: page.title | slice: 0, 9 %}
              {% endif %}
            {% else %}
              {% assign limited = site.videos | reverse | exclude: page.title | slice: 0, 9 %}
            {% endif %}

            {% for video in limited limit: 9 %}
              {% include _video-card.html %}
            {% endfor %}
            </div>
          </div>
          {% endif %}
        </section>

        {% if page.series_slug %}

        {% assign limited = site.series | sort: "start_date" | reverse | exclude: page.series | slice: 0, 6 %}
        <section>
          <h2 class="component-header flush-top">Recent Series</h2>
          <div class="cards-2x">
            <div class="row">
              {% for item in limited %}
              <div class="card">
                {% include _series-card.html %}
              </div>
              {% endfor %}
            </div>
          </div>
        </section>

        {% endif %}

      </div>
    </div>

    {% endif %}

  </div>
</div>