---
layout: default
---
{% assign video_id = page.source_url | youtube_id %}
{% assign series = site.series | where:"title", page.series | first %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      {% if video_id %}
      <div class="row push-top soft-top">
        {% include _yt-embed.html %}
      </div>
      {% endif %}

      <ol class="breadcrumb push-top hard-sides flush-bottom hard-sides">
        <li><a href="/">Media</a></li>
        {% if series %}
        <li><a href="/series">Series</a></li>
        <li><a href="{{ series.url }}">{{ series.title }}</a></li>
        {% else %}
        <li><a href="/videos">Videos</a></li>
        {% endif %}
      </ol>
      <h1 class="font-family-condensed-extra text-uppercase flush-top push-bottom">{{ page.title }}</h1>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a>
        </li>

        {% if page.transcription %}
        <li role="presentation">
          <a href="#transcription" aria-controls="transcription" role="tab" data-toggle="tab">Transcription</a>
        </li>
        {% endif %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane soft-bottom active markdown" id="description">
          {{ page.content | markdownify }}
        </div>

        {% if page.transcription %}
        <div role="tabpanel" class="tab-pane soft-bottom markdown" id="transcription">
          {{ page.transcription | markdownify }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row push-bottom">
    <div class="col-sm-8 col-sm-offset-2">
      {% for author_name in page.authors %}
        {% assign author = site.authors | where:"name", author_name | first %}
        {% if author %}
          {% if forloop.first %}<p class="flush-bottom">Featuring {% endif %}
            <a href="{{ author.url }}">{{ author.name | titleize }}</a> {% if forloop.last == false %} and {% endif %} {% if forloop.last %}</p>{% endif%}
        {% endif %}
      {% endfor%}
      <p>{{ page.date | format_date }} {% if page.video_duration != nil %}
        <span class="divider push-quarter-sides">•</span> {{ page.video_duration }} {% endif %}</p>

      <div class="soft-half-top push-top">
        {% include _social-share.html %}
      </div>

      {% assign topic = site.topics | where: "title", page.topic | first %}
      {% if page.topic %}
        <p class="flush-bottom soft-top">
          <strong>Topic</strong>
        </p>
        <ul class="list-inline">
          <li>
            <a href="{{ topic.url }}">{{ topic.title }}</a>
          </li>
        </ul>
      {% endif %}
      {% if page.tags.size > 0 %}
        <p class="flush-bottom soft-half-top">
          <strong>Tags</strong>
        </p>
        <ul class="list-inline">
          {% for tag in page.tags %}
          <li>
            <a href="{{ site.search_domain }}/search?q=tags: '{{ tag }}'" title="Search {{ tag }}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>

  <div class="soft-top">
    {% include _subscribe-buttons.html content_type=page youtube=true %}
  </div>

  {% assign messages = site.messages | where: "series", page.series | reverse | exclude: page.title %}

  {% if site.videos.size > 1 or messages.size > 1 %}
    <div class="push-top soft-top row">
      <div class="col-sm-8 col-sm-offset-2">

        <section class="{% if series == nil %} soft-7-bottom {% else %} push-bottom {% endif %}">
          <h2 class="component-header flush-top">
            {% if series %}In this Series
            {% else %}Recent Videos{% endif %}
          </h2>

          {% if messages.size > 1 %}
          <div class="cards-3x cards-2x-xs">
            <div class="row">
              {% for message in messages %}
                {% include _message-card.html %}
              {% endfor %}
            </div>
          </div>
          {% elsif message.size < 0 and series %}
          <p class="font-family-base soft-ends push-bottom">Related messages will be here soon!</p>

          {% else %}

          <div class="card-deck carousel" data-crds-carousel="mobile-scroll">
            <div class="feature-cards">
              {% assign limited = site.videos | sort: 'date' | reverse | exclude: page.title %}
              {% for video in limited %}
                {% include _video-card.html %}
              {% endfor %}
            </div>
          </div>

          {% endif %}
        </section>

        {% if series %}

          {% assign limited = site.series | sort: 'date' | reverse | slice: 0, 7 | exclude: page.series %}
          <section class="soft-7-bottom">
            <h2 class="component-header flush-top">Recent Series</h2>
            <div class="cards-2x">
              <div class="row">
                {% for item in limited limit: 6  %}
                <div class="card">
                  {% include _series-card.html %}
                </div>
                {% endfor %}
              </div>
            </div>
          </section>

        {% endif %}

      </div>
    </div>

  {% endif %}

</div>
