---
layout: default_footer_flush
---

<div class="perspective-tpl">
  <header class="container-fluid" style="background-image: url('//crds-cms-uploads.imgix.net/content/images/another-perspective-bg.png?blend64=MTUxNTE1&balph=60&bm=normal')" data-optimize-bg-img>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <ol class="breadcrumb text-white hard-left">
          <li><a href="/">Media</a></li>
          <li><a href="/perspectives">Perspectives</a></li>
        </ol>
        <h3 class="page-title">Another Perspective</h3>
        <p class="page-tagline">What's happening in the world matters more than you might think.</p>
      </div>
    </div>
  </header>

  <div class="perspective-group" style="background-color: darkolivegreen">
    <div class="container">
      <div class="row">
        <main class="related-articles">
          <a href="" class="perspective-group-title"><h1>Week of Oct 1</h1></a>

          <article>
            <header>
              <h2 class="title">Making a Murderer</h2>
              <time class="published">Oct 5</time>
            </header>
            <div class="content">
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <footer>
              <ul class="list-inline">
                <li>
                  <a href="">
                    <svg class="icon icon-1" viewBox="0 0 256 256">
                      <use xlink:href="/assets/svgs/icons.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="">
                    <svg class="icon icon-1" viewBox="0 0 256 256">
                      <use xlink:href="/assets/svgs/icons.svg#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="">
                    <svg class="icon icon-1" viewBox="0 0 256 256">
                      <use xlink:href="/assets/svgs/icons.svg#link"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </footer>
          </article>

          <article>
            <header>
              <h2 class="title">Making a Murderer</h2>
              <time class="published">Oct 5</time>
            </header>
            <div class="content">
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <footer>
              <ul class="list-inline">
                <li>
                  <a href="">
                    <svg class="icon icon-1" viewBox="0 0 256 256">
                      <use xlink:href="/assets/svgs/icons.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="">
                    <svg class="icon icon-1" viewBox="0 0 256 256">
                      <use xlink:href="/assets/svgs/icons.svg#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="">
                    <svg class="icon icon-1" viewBox="0 0 256 256">
                      <use xlink:href="/assets/svgs/icons.svg#link"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </footer>
          </article>

          <article>
            <header>
              <h2 class="title">Making a Murderer</h2>
              <time class="published">Oct 5</time>
            </header>
            <div class="content">
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <footer>
              <ul class="list-inline">
                <li>
                  <a href="">
                    <svg class="icon icon-1" viewBox="0 0 256 256">
                      <use xlink:href="/assets/svgs/icons.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="">
                    <svg class="icon icon-1" viewBox="0 0 256 256">
                      <use xlink:href="/assets/svgs/icons.svg#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="">
                    <svg class="icon icon-1" viewBox="0 0 256 256">
                      <use xlink:href="/assets/svgs/icons.svg#link"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </footer>
          </article>
        </main>
      </div>
    </div>
  </div>

  <footer class="footer-btn">
    <a href="" role="button">See more perspectives</a>
  </footer>
</div>